html{
    background-image: url("backgroundtwo.jpg");
}

body {
    width:900px;
    padding:50px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    font-family: 'Baskerville', 'helvetica', sans-serif; 
}

body {
    border:4px solid #b19cd9;
    background-color: #FFF9FB;
}

a{
    font-size:12pt;
    color:#686143;
    text-decoration:none;
}

a:hover{
    color:#ffb6c1;
    font-style: italic; 
}

h1{
    font-size:36pt;
    color:#000;
    border-bottom:2px solid #686143;
    width="750";
    text-transform: uppercase;
    padding-bottom: 20px;
}

p {
    font-size: 12pt;
    line-height: 14pt;
    width="750";
}

article {
    font-family: 'Baskerville';
    font-size: 16pt;
    margin-left: 100px;
    margin-right: 100px;
    font-style: italic;
}

img{
  

}